.container {
  padding: 2.5rem 2rem 1rem 2rem;
  // margin-bottom: 100%;
}

.r-date {
  text-align: right;
  padding-bottom: 1rem;
}

.r-title {
  text-align: center;
  padding: 2rem 0 2rem 0;
}

.r-footer {
  text-align: right;
  padding-bottom: 2rem;
}

.goBack-btn {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.aa-logo {
  display: block;
  margin: auto auto 100% auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
