<!-- <div [@pageTransition]="'animation.state'" [hidden]="'animation.state'"> -->
  <!-- Header Toolbar -->
  <app-header-toolbar></app-header-toolbar>
  <!-- Landing Page Component -->
  <app-landing-page *ngIf="appPage == 'home'"></app-landing-page>
  <!-- Literature Page Component -->
  <app-literature-page *ngIf="appPage == 'literature'"></app-literature-page>
  <!-- Reflection Pag Component -->
  <app-reflection-page *ngIf="appPage == 'reflection'"></app-reflection-page>
  <!-- <router-outlet></router-outlet> -->
  <!-- Footer -->
  <footer>
    <app-footer-toolbar></app-footer-toolbar>
  </footer>
<!-- </div> -->
